# Jordan Taylor

# Problem 2.1

In [22]:
icecream_rating = 9
sleeping_rating = 8
firstname = 'Jordan'

happiness = ((icecream_rating + sleeping_rating) / 2)
happiness

8.5

In [17]:
type(icecream_rating)

int

In [18]:
type(sleeping_rating)

int

In [21]:
type(happiness)

float

In [37]:
print('My name is', first_name, 
      'and I give eating ice cream a score of', icecream_rating, 'out of 10!')
print('My sleeping enjoyment rating is', sleeping_rating, '/ 10!')
print('Based on the factors above, my happiness rating is', happiness, 'out of 10 or',
      happiness*10, '%!')

My name is Jordan and I give eating ice cream a score of 9 out of 10!
My sleeping enjoyment rating is 8 / 10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!

* For the data types: icecream_rating and sleep_rating are integers since they are single digit numbers and happiness is a float since it has a decimal.

# Problem 2.2

In [78]:
fmi_station_name = ["lighthouse",
                    "Harmaja",
                    "Suomenlinna aatlopoiju",
                    "Kumpula",
                    "Kaisaniemi"
                   ]

first_year = ["2003", "1989", "2016", "2005", "1844"]

In [80]:
fmi_station_name.append('Malmi airfield')
fmi_station_name.append('Vuosaari harbour')
fmi_station_name.append('Kaivopuisto')

first_year.append('1937')
first_year.append('2012')
first_year.append('1904')

In [81]:
fmi_station_name

['lighthouse',
 'Harmaja',
 'Suomenlinna aatlopoiju',
 'Kumpula',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto']

In [82]:
first_year

['2003', '1989', '2016', '2005', '1844', '1937', '2012', '1904']

In [99]:
# using zip() to group the fmi station name and first year of operation columns
# and sort in parallel (link below)
# https://realpython.com/python-zip-function/#sorting-in-parallel

group1 = (zip(fmi_station_name, first_year))

list(group1)

[('lighthouse', '2003'),
 ('Harmaja', '1989'),
 ('Suomenlinna aatlopoiju', '2016'),
 ('Kumpula', '2005'),
 ('Kaisaniemi', '1844'),
 ('Malmi airfield', '1937'),
 ('Vuosaari harbour', '2012'),
 ('Kaivopuisto', '1904')]

In [106]:
# properly sorted by year
group1 = sorted(zip(first_year, fmi_station_name))
group1

[('1844', 'Kaisaniemi'),
 ('1904', 'Kaivopuisto'),
 ('1937', 'Malmi airfield'),
 ('1989', 'Harmaja'),
 ('2003', 'lighthouse'),
 ('2005', 'Kumpula'),
 ('2012', 'Vuosaari harbour'),
 ('2016', 'Suomenlinna aatlopoiju')]

# Problem 2.3

In [116]:
month = ["January",
         "February",
         "March",
         "April",
         "May",
         "June",
         "July",
         "August",
         "September",
         "October",
         "November",
         "December"
        ]

temperature = ["-3.5",
               "-4.5",
               "-1.0",
               "4.0",
               "10.0",
               "15.0",
               "18.0",
               "16.0",
               "11.5",
               "6.0",
               "2.0",
               "-1.5"
              ]

In [117]:
print('The average temperature in Helsinki in', month[2],
      'is', temperature[2])

The average temperature in Helsinki in March is -1.0

# Problem 2.4

In [24]:
station_numbers = []

In [25]:
for i in range(0,21,1):
    station_number=f"Station_{i}.txt"
    station_numbers.append(station_number)
print(station_numbers)

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt']

In [32]:
#reworked solution:

In [33]:
station_nums = []

In [34]:

for i in range(0,21,1):
    station_num=f"Station_{i}.txt"
    print(station_num)

Station_0.txt
Station_1.txt
Station_2.txt
Station_3.txt
Station_4.txt
Station_5.txt
Station_6.txt
Station_7.txt
Station_8.txt
Station_9.txt
Station_10.txt
Station_11.txt
Station_12.txt
Station_13.txt
Station_14.txt
Station_15.txt
Station_16.txt
Station_17.txt
Station_18.txt
Station_19.txt
Station_20.txt

In [35]:
# I missed a point for 2.4, is the alternate solution above what you're looking for?